.loader__text {
  text-align: center;
}

.loader {
  margin: 2rem auto;
  border: 12px solid whitesmoke;
  border-top: 12px solid #CB704D;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
