header {
    display: flex;
    background: white;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 0;
    flex-wrap: wrap;
    font-weight: 400;
    position: fixed;
    width: 100%;
}

.header-logo {
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.header-logo a {
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    flex: 1 1 80%;
    justify-content: end;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style-type: none;
    margin-right: 1.2rem;
}
.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: teal;
}