.item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid gainsboro;
    gap: 0.2em;
}

.item__img {
    padding-bottom: 1em;
}

.item__link {
    text-decoration: none;
    color: black;
    background: white;
}
