@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
