
.cart-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
}
  
.form__input {
  max-width: 50%;
  padding: 0.2em;
  margin: 0.5em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form__label {
  text-transform: capitalize;
}

.form__button {
  background-color: #CB704D;
  font-size: 1rem;
  color: white;
  padding: 0.8em 0;
  margin: 0.8em 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.form__error {
  font-size: 0.9rem;
  color: red;
}

.form__button:disabled {
  background-color: #a1887d;
  cursor: not-allowed;
}

.form__button:hover {
  opacity: 0.8;
}
